---
import Layout from "../layouts/Layout.astro"; 
---

<Layout>
	<main class="flex flex-col justify-center items-center gap-5 py-20">
		<h1 class="text-4xl font-bold">Solve your life with a gamified habit tracker</h1>
		<button class="btn active-small">Go to dashboard &rarr;</button>
	</main>
</Layout>